body {
  font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #655A56;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 2 * 4vw);
    height: 100%;
}


.App {
  height: 100%;
  width: 100%;
}

/* .container {
  margin-top: 0px;
  background: #fff;
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-top: 32px;
} */

.card {
  width: 456.14px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.card > h2 {
  font-size: 6em;
  color: #fff;
  margin: 1.6em 0;
}

.post {
  font-family: "Segoe UI", 'Poppins';
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 20px;
  border-radius: 6px;
  background-color:  #F9F5F3;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  break-inside: avoid;
}

.sk-folding-cube {
  margin: 20px auto;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F59A83;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

/* body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655A56;
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);} */

  /* @media only screen and (max-width: 68.75em) {
    .top {
      left: 0;
      width: 100%;
      margin: 0;
      border-radius: 0; } } */

.container {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  margin: 70px auto 0 auto;
  /* columns: 2;
  column-gap: 20px; */
}
.btn, .btn-small, .btn-small:link, .btn-small:visited {
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s; }
  .btn:hover {
    transform: scale(1.05); }
  .btn:focus {
    outline: none; }
  .btn > *:first-child {
    margin-right: 1rem; }
.btn {
  padding: 1.3rem 3rem;
  font-size: 1.4rem; }
  .btn svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor; }
  .top__btn {
      /* display: none; */
      padding: 20px;
      padding-left: 1;
      padding-right: 10px;
      border-radius: 50%;
      position: fixed; 
      bottom: 80px; 
      right: 180px; 
      z-index: 99; 
      border: none; 
      outline: none; 
  }
  .add__btn {
      padding: 20px;
      padding-left: 1;
      padding-right: 10px;
      border-radius: 50%;
      position: fixed; 
      bottom: 20px; 
      right: 180px; 
      z-index: 99; 
      border: none; 
      outline: none; 
  }
  
.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #F59A83;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  transform: skewY(-3deg); }

.copyright {
  color: #968B87;
  font-size: 1.2rem;
  margin-top: auto; }

.link:link,
.link:visited {
  color: #968B87; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.header {
  background-color: #F9F5F3;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 15px;
  box-shadow: 0 2rem 6rem 0.5rem rgba(177, 163, 158, 0.2);
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
  .header__logo {
    margin-left: 160px;
    height: 4.5rem;
    display: block; }

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all .3s; }
  .search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); }
  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem; }
    .search__field:focus {
      outline: none; 
    }
    .search__field::placeholder {
      color: #DAD0CC; 
    }
   
  .flex {
    display: flex;
  }
  .icons__bar ul{
    padding: 0px;
    margin-right: 130px;
    list-style: none;
  }
  .icons__bar ul li a{
    color: #757686;
    text-decoration: none;
  }
  .icons .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    color: #F59A83;
  }
  .post {
    font-family: "Segoe UI", 'Poppins';
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 20px;
    border-radius: 6px;
    background-color:  #F9F5F3;
    width: fit-content;
    break-inside: avoid;
  }
  h2 {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .post-img {
    width: 456.14px;
  }
  .post-body ul{
    padding: 0px;
    margin: 0;
    list-style: none;
  }
  /* .post-body ul li a{
    color: #757686;
    text-decoration: none;
  } */
  .post-react .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    margin-left: 0px;
    color: #F59A83;
  }
  .post-content {
    padding-left:10px;
    padding-top:5px;
  }

/* @media only screen and (max-width: 50rem)
{
.container {
  columns: 1;
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 0;
}
} */

.input {
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  transition: all .1s; 
  width: 85%;
}
  .input:focus-within, .input:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); }
  .input__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 4rem;
    font-weight: bold;
    width: 50rem; }
    .input__field:focus {
      outline: none; }
    .input__field::placeholder {
      color: #DAD0CC; 
    }
.ingredients {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  font-family: inherit;
  width: 85%
}

.ingredients form input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}
.ingredients form input:focus-within, .ingredients form input:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); 
border: none;}

.ingredients form input.error {
  border-color: red;
}

.ingredients form button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
}

.ingredients form button:disabled {
  background-color: #dbf99f;
  color: #333;
}

.ingredients form button.remove {
  display: inline-block;
  width: auto;
  padding: 0 15px;
  background-color: #777;
  font-size: 30px;
}

form button.remove:hover {
  background-color: #999;
}

.stepImages {
  background-color: rgb(231, 227, 225); 
  width: 150px;
  height: 150px;
  margin-left: 10px;
  color: rgb(163, 157, 154);
  text-align: center;
}
.stepImages .fa {
  padding: 55px;
}

/* .ingredients form button.add {
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
  margin: 0 auto;
} */
.add {
  color: #DAD0CC;
  width: fit-content; 
  font-size: 20px;
  margin: 0 auto;
}
.add:hover {
  color: rgb(163, 157, 154);
  cursor: pointer;
}
.ingredient {
  display: flex;
  align-items: center;
}
.ingredient button {
  margin: 0;
  margin-left: 10px;
}
.uploadImg {
  background-color: rgb(231, 227, 225); 
  width: 85%;
  margin: 0 auto;
  color: rgb(163, 157, 154);
  font-family: inherit;
  font-size: 20px;
  height: 350px;
}
  
.upload_content {
  text-align: center;
  padding: 120px;
}
.uploadImg .icon {
  width: 100px;
  height: auto;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;}
  .uploadImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
.previewText{
  width: 100%;
  margin-top: 20px;
}
/* .submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
} */

.submit {
  margin: 20px auto;
  font-size: 16px;
}