{% extends "layout.html" %}

{% block content %}
        <div class="container">
                <div class="post">
                    <h2>Username</h2>
                    <img class="post-img" src="../static/img/ct.jpg" alt="Card image">
                    <div class="post-body">
                        <ul class="post-react flex flex-wrap align-items-center">
                            <li><a href=""><i class="fa fa-heart-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-comments-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt fa-3x"></i></a></li>
                        </ul>
                        <h1 class="post-content">Cơm tấm</h1>
                    </div>
                </div>
                <div class="post">
                    <h2>Username</h2>
                    <img class="post-img" src="../static/img/bb.jpg" alt="Card image" style="width:100%">
                    <div class="post-body">
                        <ul class="post-react flex flex-wrap align-items-center">
                            <li><a href=""><i class="fa fa-heart-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-comments-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt fa-3x"></i></a></li>
                        </ul>
                        <h1 class="post-content">Bún bò</h1>
                    </div>
                </div>
                <div></div>
                <div class="post">
                    <h2>Username</h2>
                    <img class="post-img" src="../static/img/bx.jpg" alt="Card image" style="width:100%">
                    <div class="post-body">
                        <ul class="post-react flex flex-wrap align-items-center">
                            <li><a href=""><i class="fa fa-heart-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-comments-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt fa-3x"></i></a></li>
                        </ul>
                        <h1 class="post-content">Bánh xèo</h1>
                    </div>
                </div>
                <div class="post">
                    <h2>Username</h2>
                    <img class="post-img" src="../static/img/gk.jpg" alt="Card image" style="width:100%">
                    <div class="post-body">
                        <ul class="post-react flex flex-wrap align-items-center">
                            <li><a href=""><i class="fa fa-heart-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-comments-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt fa-3x"></i></a></li>
                        </ul>
                        <h1 class="post-content">Gà kho xả ớt</h1>
                    </div>
                </div>
                <div class="post">
                    <h2>Username</h2>
                    <img class="post-img" src="../static/img/pz.jpg" alt="Card image" style="width:100%">
                    <div class="post-body">
                        <ul class="post-react flex flex-wrap align-items-center">
                            <li><a href=""><i class="fa fa-heart-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-comments-o fa-3x"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt fa-3x"></i></a></li>
                        </ul>
                        <h1 class="post-content">Pizza</h1>
                    </div>
                </div>
                <div class="page-load-status">
                    <div class="loader-ellips infinite-scroll-request">
                      <span class="loader-ellips__dot"></span>
                      <span class="loader-ellips__dot"></span>
                      <span class="loader-ellips__dot"></span>
                      <span class="loader-ellips__dot"></span>
                    </div>
                    <p class="infinite-scroll-last">End of content</p>
                    <p class="infinite-scroll-error">No more recipes to load</p>
                  </div>
            </div>
            <div class="filter">

            </div>
{% endblock %}