{% extends "layoutForLoginAndSignUp.html" %}

{% block content %}
<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-image">
                        <a href="{{ url_for('loadHomePage') }}"><img src="../static/img/signIn.jpg" alt="sing up image"></a>
                        <a href="{{ url_for('login') }}" class="signup-image-link">Bạn đã có tài khoản?</a>
                    </div>
                    <div class="signup-form">
                        <h2 class="form-title">Đăng ký</h2>
                        <form action="" method="post" class="register-form" id="register-form">
                             {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(for="email") }}
                                {% if form.email.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.email.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ form.email(id="email", placeholder="Email (Tài khoản)") }}
<!--                                <label for="email"><i class="zmdi zmdi-email"></i></label>-->
<!--                                <input type="email" name="email" id="email" placeholder="Email"/>-->
                            </div>
                            <div class="form-group">
                                {{ form.password.label(for="pass") }}
                                {% if form.password.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.password.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ form.password(id="pass", placeholder="Mật khẩu") }}
<!--                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>-->
<!--                                <input type="password" name="pass" id="pass" placeholder="Mật khẩu"/>-->
                            </div>
                            <div class="form-group">
                                {{ form.confpassword.label(for="re_pass") }}
                                {% if form.confpassword.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.confpassword.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ form.confpassword(id="re_pass", placeholder="Xác nhận lại mật khẩu") }}
<!--                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>-->
<!--                                <input type="password" name="re_pass" id="re_pass" placeholder="Xác nhận lại mật khẩu"/>-->
                            </div>
                            <div class="form-group">
                                {{ form.fullname.label(for="name") }}
                                {% if form.fullname.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.username.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ form.fullname(id="name", placeholder="Họ và tên") }}
<!--                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>-->
<!--                                <input type="text" name="name" id="name" placeholder="Họ và tên"/>-->
                            </div>
                            <div class="form-group">
                                {{ form.birthday.label(for="birthday") }}
                                {% if form.birthday.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.birthday.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ form.birthday(id="name") }}
                            </div>
                            <div class="form-group">
                                {{ form.gender.label(for="gender") }}
                                {% if form.gender.errors %}
                                    <span class="btn-show-pass" style="color: red;">
                                        {% for error in form.gender.errors %}
                                        <span class="err" >[{{ error }}]</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{form.gender(class="form-control form-control-lg")}}
<!--                                <select class="form-control form-control-lg" id="name">-->
<!--                                    <option value="" disabled selected>Giới tính</option>-->
<!--                                    {% for subfield in form.gender %}-->
<!--                                    <option>{{ subfield }}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>
                                    Bạn chấp nhận với tất cả <a href="#" class="term-service">điều khoản dịch vụ</a></label>
                            </div>
                            <div class="form-group form-btn">
                                {{form.submit(id="signup", class="form-submit btn")}}
<!--                                <input type="submit" name="signup" id="signup" class="form-submit btn" value="Đăng ký"/>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}